.rn-pricing-comparison {
  padding: 5rem 0;
  overflow: hidden;

  @include lg-up {
    padding: 8rem 0;
  }

  .rn-pricing-comparison__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
      "content"
      "chart";

    @include lg-up {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "content chart";
      gap: 4rem 8rem;
      align-items: start;
    }
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;

    @include lg-up {
      align-items: flex-start;
      text-align: left;
      margin-top: 4rem;
    }
  }

  &__title {
    color: var(--Black);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;

    @include md-up {
      font-size: 4rem;
    }
  }
}
